<div class="container mt-5"> <h1>Wheeler App</h1></div>
<div class="container mt-5">
  <div class="col-12 d-flex justify-content-center">
    <div class="col-10">
      <ngx-dropzone
        class="dark-dropzone w-100"
        (change)="onSelect($event)"
        [multiple]="true"
        [expandable]="false"
        [accept]="'.txt'"
        style="height: 220px"
      >
        <ngx-dropzone-label>
          Drop file here or click to upload
        </ngx-dropzone-label>
      </ngx-dropzone>
    </div>
  </div>

  <div class="col-12 mt-5" *ngIf="earningLineChart.series[0].data.length > 0">
    <h3 class="text-muted text-center">Chart Information</h3>
    <div class="card w-100 h-auto">
      <apx-chart
        class="apex-charts"
        #chart
        dir="ltr"
        [series]="earningLineChart.series"
        [chart]="earningLineChart.chart"
        [dataLabels]="earningLineChart.dataLabels"
        [stroke]="earningLineChart.stroke"
        [markers]="earningLineChart.markers"
        [xaxis]="earningLineChart.xaxis"
        [tooltip]="earningLineChart.tooltip"
        [colors]="earningLineChart.colors"
        [fill]="earningLineChart.fill"
        [legend]="earningLineChart.legend"
      >
      </apx-chart>
    </div>
  </div>
</div>
